@import "tailwindcss";


@font-face {
    font-family: font1;
    src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(/fonts/Lausanne-500.woff2);
}

body,html{
    
    overflow-x: hidden;
}
.animateMarque{
    
  transition: height 0.3s linear;  /* equivalent to Tailwind's transition-all duration-300 */


}